body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f8bbd0; /* Rosa pastel */
    color: #333;
}

header {
    background-color: #e91e63; /* Rosa */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    padding: 2rem;
}

section {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.contact-container {
    display: flex; /* Flexbox para organizar el formulario y la información de contacto */
    justify-content: space-around;
    flex-wrap: wrap; /* Adaptar a diferentes tamaños de pantalla */
}

.contact-form,
.contact-info {
    width: 45%; /* Ancho de cada sección */
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.donations {
    text-align: center;
}

button {
    background-color: #e91e63; /* Rosa */
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #c2185b; /* Rosa más oscuro */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Para evitar que el pie de página se superponga al contenido */
    bottom: 0;
    width: 100%;
}
